.inputGroup {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    height: 40px;
}
.input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 1.5rem;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    outline: none;
    background-color: transparent;
}
.input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color: var(--color-white);
}