.header {
    width: 100vw;

    background-color: #333;
    color: #fff;
    display: flex;
}

.nav {
    width: 100vw;
    padding: 10px 20px;
    justify-content: space-between;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.list{
    display: flex;
    width: 100%;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
}
.link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #f44336;
}

.button {
    padding: 8px 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d32f2f;
}
