
.createCarSection {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.createCarSection h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}


.createCarForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.createCarForm input,
.createCarForm select,
.createCarForm textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.createCarForm button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.createCarForm button:hover {
  background-color: #45a049;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}
