.wrapper{
    margin: 60px auto;
  font-family: 'Inter', sans-serif;
  /*background:  radial-gradient(circle at 10% 50%, #5ff, #00b8b8 40%, #003333);*/
  max-width: 800px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 12px white;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}
.subtitle{
   margin-bottom: 1.5rem;
}
.inputSection {
    display: flex;
    gap: 1.5rem;
    /*width: 300px;*/
}

/*.label :hover {*/
/*  background-color: var(--color-badgeId);*/
/*}*/
/*.label:focus {*/
/*    background-color: rgba(255, 255, 255, 0.3);*/
/*}*/

.select {

    outline: none;
  border-radius: 12px;
  padding: 5px 10px;
  border: 1px solid var(--color-white);
  font-size: 0.95rem;
    background-color:inherit;
}
.label {
    padding: 5px 10px;
  width: 150px;
    outline: none;
  border-radius: 12px;
 display: flex;
    justify-content: center;
    align-items: center;
  border: 1px solid var(--color-white);
  font-size: 0.95rem;
    background-color: var(--color-badgeId);
}
.input {

    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 1.5rem;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
}
.input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.errorMessage {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
     z-index: 1000;
    color: var(--color-white);
}



/*.inputField {*/
/*  border-radius: 12px;*/
/*  border: 1px solid var(--color-white);*/
/*  background-color: var(--color-badgeId);*/
/*  font-size: 0.95rem;*/
/*  outline: none;*/
/*}*/

.textareaField {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid var(--color-white);
  background-color: var(--color-badgeId);
  font-size: 0.95rem;
  outline: none;
  min-height: 200px;
}

.inputSection {
  margin-bottom: 1.5rem;
  display: flex;
}

.topSection{
    width: 100%;
    gap: 40px;
    justify-content: space-between;
    display: flex;

}
.choiceSection{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.priceSection{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    border-radius: 1.5rem;
    color:var(--color-white);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
      background-color: var(--color-container);
}
.submitButton:hover {
    background-color:  var(--color-border);
    color:  var(--color-white);
}
.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(0.2);
}