.userManagement {
    margin: 60px auto;
  font-family: 'Inter', sans-serif;
  /*background:  radial-gradient(circle at 10% 50%, #5ff, #00b8b8 40%, #003333);*/
  max-width: 800px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 1rem;
    border-radius: 1.5rem;
    height: 500px;
    box-shadow: 0 0 12px white;
}

.editCarForm{
    display: flex;
    flex-direction: column;

}
.subtitle{
   margin-bottom: 1.5rem;
}
.inputSection {
    /*width: 300px;*/
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
  align-items: center;
}


.filterForm button:hover {
  background-color: var(--color-badgeId);
}


.select {
    outline: none;
  border-radius: 12px;
  padding: 5px 10px;
  border: 1px solid var(--color-white);
  font-size: 0.95rem;
    background-color:inherit;
}
.label {
    width: 50%;

    outline: none;
  border-radius: 12px;
  padding: 5px 10px;
  border: 1px solid var(--color-white);
  font-size: 0.95rem;
    background-color: var(--color-badgeId);
}

.errorMessage {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
     z-index: 1000;
    color: var(--color-white);
}



.inputField {
  width: 100%;
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid var(--color-white);
  background-color: var(--color-badgeId);
  font-size: 0.95rem;
  outline: none;
}

.textareaField {
  width: 100%;
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid var(--color-white);
  background-color: var(--color-badgeId);
  font-size: 0.95rem;
  outline: none;
  min-height: 80px;
}

.inputSection {
  margin-bottom: 15px; /* відступ між полями */
  display: flex;
}

.topSection{
    gap: 80px;
    justify-content: space-between;
    display: flex;

}
.choiceSection{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    border-radius: 1.5rem;
    color:var(--color-white);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
      background-color: var(--color-container);
}
.submitButton:hover {
    background-color:  var(--color-border);

    color:  var(--color-white);
}