version: "3.9"

services:
  app:
    build:
      context: .
    volumes:
      - ./backend:/app
    env_file:
      - .env
    environment:
       - DJANGO_SETTINGS_MODULE=configs.settings
    ports:
      - "8888:8000"
    restart: on-failure
    command: >
      sh -c "python manage.py wait_db && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
      - redis

  db:
    image: mysql:8
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - ./mysql:/var/lib/mysql
    restart: on-failure

  redis:
    image: redis:alpine
    restart: on-failure

  celery:
    build:
      context: .
    volumes:
      - ./backend:/app
    env_file:
      - .env
    restart: on-failure
    depends_on:
      - app
      - redis
    command: >
      sh -c 'celery -A configs worker -l info'

#  next-client:
#    build:
#      context: ./next-client
#    container_name: next-client
#    ports:
#      - "3000:3000"
#    volumes:
#      - ./next-client:/app
#      - /app/node_modules
#    environment:
#      - NODE_ENV=development
#      - CHOKIDAR_USEPOLLING=true
#    command: npm run dev
#    depends_on:
#      - app

  web:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
#      - next-client
