.filterContainer {
  display: flex;
  gap: 12px;
  padding: 16px;
  background-color: var(--color-badgeId);
  border-radius: 8px;
  max-width: 900px;
  margin: 0 auto;
            box-shadow: 0 0 12px white;
}

.row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
    outline: none;
    color: var(--color-border);
}

.input, .select {
  flex: 1;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
        color: var(--color-border);
}

.input:focus, .select:focus {
    outline: none;
}

.select {
  background-color: var(--color-white);
  cursor: pointer;
    outline: none;
}
