.container{
margin: 5rem auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 2rem;

}


.card {
    height: 300px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: inherit;
}

.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.content {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
}
.text {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title,
.price {
    margin-bottom:0;
    font-size:1.6rem;
}



.card {
     transition: transform 0.2s ease-in-out;
    border: 4px solid #4d3355;
}

.card:hover {
     transform: scale(1.01);
}