.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  margin-bottom: 10px;
}
