.cardWrapper {
  display: flex;
    flex-direction: column;
  gap: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 400px;
    height: 300px;
  margin: 16px auto;
  background-color: var(--color-badgeId);
      box-shadow: 0 0 12px white;
}

.noImageText {
  font-size: 0.9rem;
  color: #555;
}
.carInfoWrapper {
    height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    font-size: 0.8rem;
}

.carItem{
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.carInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.carTitle {
  margin: 0 0 12px;
  font-size: 1.5rem;
  color: var(--color-border);
}

.row {
  display: flex;
  justify-content: flex-start;
}

.label {
  font-weight: 600;
}

.value {
  color: var(--color-container);
}
