.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  max-width: 450px;
  margin: 16px;
  background-color: #fff;
  font-family: sans-serif;
}

.imageWrapper {
  width: 100%;
  height: 250px;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.details {
  padding: 16px;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 12px;
  font-weight: bold;
}

.details p {
  margin: 4px 0;
  font-size: 0.95rem;
  color: #333;
}

.card:hover {
    transform: scale(1.05);
}