.container {
    max-width: 70vw;
    margin: 5rem auto;
    background-color: black;
    color: var(--color-white);
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 0 0.625rem 1.25rem rgba(191, 219, 254, 0.5);
    transition: transform 0.5s;
}
.container:hover {
    transform: scale(1.05);
}
.tagline{
     border: 1px solid var(--color-text);
    width: 100%;

}

.flexRowResponsive {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.posterImage,
.noPoster,
.carPoster,
.placeholder{
    width: 100%;
    padding: 1rem;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
}

.top{
    display: flex;
    justify-content: space-between;
    color: var(--color-badgeId);
}

.noPoster {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-badgeId);
    font-size: 1rem;
}

.img{
    width: 24px;
    height: 24px;
}

.content {
    padding: 2rem;
    width:95%;
    border-radius: 1.25rem;
}

.title {
    color: var(--color-active);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.details p {
    margin: 0.25rem 0;
}

.label {
    font-weight: 600;
}

.value {
    color: #555;
}

@media (min-width: 768px) {
    .flexRowResponsive {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .posterImage,
    .noPoster,
    .carPoster {
        width: 35vw;
        height: auto;
        border-radius: 2rem;
        flex-shrink: 0;
    }

    .content {
        width: calc(65vw - 3rem);
        border-radius: 2rem;
    }

    .title {
        font-size: 1.75rem;
    }


}