.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 0 2.5rem 1rem 2.5rem;
    border-radius: 1.5rem;
    width: 380px;
    box-shadow: 0 0 12px white;
}
.title {
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-white);
}
.inputGroup {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    height: 40px;
}
.input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 1.5rem;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    outline: none;
    background-color: transparent;
    box-sizing: border-box;

}
.input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.icon {
    position: absolute;
 top: 50%;
  right: 1rem;
  transform: translateY(-50%);
    cursor: pointer;
}

.error {
    padding: 0;
    color: var(--color-active);
    font-size: 0.6rem;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color:var(--color-container);
    border: 1px solid var(--color-white);
    background-color: var(--color-badgeId);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-color: var(--color-border);
    color: white;
}
.bottomContainer{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.registerText {
    color:var(--color-white);
    font-size: 0.875rem;
    text-align: center;
}
.link {
    color: var(--color-badgeId);
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.roleSelection {
    margin-bottom: 1rem;
  display: flex;
  gap: 40px;
  justify-content: center;
        background-color: transparent;
}

.roleButton:hover {
  background: var(--color-border);
}
.roleButton{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 8px;
     cursor: pointer;
    border: 1px solid var(--color-white);
      transition: all 0.3s ease-in-out;
}
.roleCard img {
  width: 20px;
  height: 20px;
}

.roleCard span {
  font-size: 14px;
  color: #333;
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(0.2);
}
