
.user{
    color: var(--color-border);
    text-align: left;
    font-size: 0.7rem;
}
.statusActive{
    color: var(--color-container);
}


.table {
  border-collapse: separate;
    margin: 60px auto;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  background:  radial-gradient(circle at 10% 50%, #5ff, #00b8b8 40%, #003333);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  max-width: 1200px;
}

.table thead tr {
  background-color: var(--color-active);
  color: white;
  text-align: left;

}

.table th, .table td {
  padding: 12px 16px;
}
.table th:last-child{
    text-align: end;
}

.table th, .table td {
  padding: 12px 16px;
}

.table tr {
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.table tr:hover {
  background-color: var(--color-text);
    cursor: pointer;
}

.table tbody tr {
  background-color:var(--color-white);
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.75rem var(--color-text);
  transition: all 0.2s ease;
    color: var(--color-border);
}

.table tbody tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.25rem 0.75rem var(--color-border);
}

.actions {
  display: flex;
    flex-direction: column;
  gap: 6px;
  flex-wrap: wrap;
}
.statusActive{
    color: var(--color-container);
}
.editButton,
.button {
    background-color: var(--color-badgeId);
}
.actions button {
    color: var(--color-white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
    width:80px;
    height: 20px;
}

.actions button:hover {
  background-color: var(--color-border);
}

.deleteButton {
  background-color: #ef4444;
}

.deleteButton:hover {
  background-color:  var(--color-border);
}

.select {
  border-radius: 12px;
  padding: 5px 10px;
  border: 1px solid var(--color-white);
  font-size: 0.95rem;
    background-color: var(--color-badgeId);
}


.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
     z-index: 1000;
}

.success {
  background-color: var(--color-white);
  color: var(--color-border);
}

.error {
  background-color: var(--color-white);
  color:  #ef4444;
}

