.carsListContainer {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 20px;
    padding-right: 20px;
}



.link{
    cursor: pointer;
    text-decoration: none;
    color: var(--color-container);
}
.list {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    list-style: none;
}

.noResults{
    text-align: center;
    color: var(--color-active);
    padding-top: 3rem;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .carsListContainer {
        width: 90%;

    }
}

@media (min-width: 1280px) {
    .carsListContainer {
        width: 100%;
    }
}

@media (min-width: 1536px) {
    .carsListContainer {
        gap: 48px;
        width: 90%;
        max-width: 1536px;
    }
}