

:root {
  --color-disabled: #6b7280;
  --color-active: #00b8b8;
  --color-border: #003333;
  --color-text: #5ff;
  --color-badgeId: #1e9c9c;
  --color-noposter: #374151;
  --color-white: #ffffff;
  --color-container: #1f2937;
    --color-black: black;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0 auto;
  scroll-behavior: smooth;
  min-height: 100vh;

  background:
          url("/images/dark-background.jpg") no-repeat center center / cover,
          linear-gradient(to bottom, black 70%, #003333);
}


html.light {
body {
  background:
          url("/images/light-background.jpg") no-repeat center center / cover,
          radial-gradient(circle at 30% 30%, #5ff, #00b8b8 40%, #003333);
}

  .burgerMenu {
    background:
            url("/images/light-background.jpg") no-repeat center center / cover,
            radial-gradient(circle at 30% 30%, #5ff, #00b8b8 40%, #003333);
  }

  .search-input,
  .sort-select,
  .movieInfoWrapper {
    background-color: var(--color-white);
  }
    .registerMessage{
    color: var(--color-border);
}

  .search-button,
  .search-input,
  .noResults,
  .search-input::placeholder {
    color: var(--color-container);
  }

  .search-button:focus,
  .search-button:active,
  .search-button:hover,
  .movieTitle {
    color: var(--color-badgeId);
  }

  .search-input:focus {
    opacity: 0.7;
  }

  .sort-label,
  .search-clearButton {
    color: var(--color-white);
  }


  .movieItem {
    box-shadow: none;
    border-bottom: 1px solid var(--color-active);
  }


  .loader {
    fill: var(--color-container);
  }

  .loader-run {
    fill: var(--color-active);
  }


  .auth {
    background-color: black;
    opacity: 0.8;
  }


  .burgerUserLogoutBtn {
    color: black;
  }

  .slideheading{
    color: var(--color-container);
  }

  .cell{
   background:black;
  }
}

html.dark {

    body,
    .burgerMenu {
        /*background-image: url("/background/dark.jpg");*/
    }

    .registerMessage {
        color: var(--color-text);
    }

    .mainTitle {
        background: linear-gradient(var(--color-active), var(--color-badgeId));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .cell {
        background: var(--color-active);
    }

}
::-webkit-scrollbar {
  display: none;
}
figure {
    margin: 0;
    overflow: hidden;
}

