.containerDashboard{
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

}
.title {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
    color: var(--color-white)
}
.welcome,
.email,
.role{
  margin-bottom: 0.3rem;
   font-weight: bold;
  font-size: 1rem;
    color: var(--color-white)
}
.noUser {
  font-size: 1rem;
  color: red;
}
